body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #0f0f0f;
  color: #00ff00;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.App {
  text-align: center;
}

.skull-and-crossbones {
  text-align: center;
}

.skull-and-crossbones pre {
  display: inline-block;
  color: #ff0000; /* Red color */
  font-size: 20px;
}

.terminal {
  background-color: #000;
  color: #00ff00;
  border: 2px solid #00ff00;
  border-radius: 5px;
  max-width: 400px;
  padding: 20px;
}


.terminal-header {
  font-weight: bold;
  padding: 5px;
  background-color: #00ff00;
  color: #000;
}

.terminal-title {
  color: #000;
}

.terminal-body {
  padding: 10px 0;
}

.message {
  height: 150px;
  overflow-y: scroll;
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input {
  font-family: 'Courier New', Courier, monospace;
  background-color: #000;
  color: #00ff00;
  border: 1px solid #00ff00;
  padding: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  margin-right: 10px;
}

button {
  font-family: 'Courier New', Courier, monospace;
  background-color: #00ff00;
  color: #000;
  border: 1px solid #00ff00;
  padding: 5px 10px;
  cursor: pointer;
}

button:disabled {
  background-color: #555;
  color: #ccc;
  cursor: not-allowed;
}